@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --color-body: #e5e5e5;
  --color-accent: #6070ff;
  --color-text: #344563;
  --color-headings: #172b4d;
  --white: #fff;
  --border: border-bottom-left-radius;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: var(--color-body);
}

.header {
  background: var(--white);
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.logo {
  text-decoration: none;
  color: var(--color-accent);
  font-size: 1.8rem;
  font-weight: 700;
}

.hamburger {
  position: relative;
  z-index: 1000;
  top: 21%;
  right: 1rem;
  padding: 4px;
  cursor: grabbing;
  margin-bottom: 2rem;
}

.navigation-bar {
  display: inline-block;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6070ffe6;
  backdrop-filter: blur(2px);
  list-style: none;
  padding-top: 6rem;
}

.nav-bar {
  display: inline;
}

.navigation-bar li {
  margin: 3rem 0;
}

.navigation-bar li a {
  color: var(--color-body);
  text-decoration: none;
}

i.cross-icon.fa-solid.fa-times {
  display: none;
  position: fixed;
  color: var(--white);
}

.list-item {
  font-size: 3rem;
  font-weight: 600;
  padding: 0 3rem;
}

.show-menu {
  transform: translateY(0);
}

.fa-solid {
  color: var(--color-accent);
  font-size: 20px;
}

.fa-times {
  font-size: 20px;
  display: none;
}

.headline-section {
  background: var(--white) no-repeat url(../images/headline.svg);
  background-size: 100%;
  border-bottom-left-radius: 75px;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 1rem;
  top: 15%;
  padding: 2.5rem;
  position: absolute;
}

.headline-heading {
  font-size: 4rem;
  color: var(--color-headings);
  line-height: 1.1;
  width: 80%;
  margin-bottom: 0;
}

.headline-text {
  color: var(--color-text);
  margin-top: 2rem;
  padding-right: 0.2rem;
  font-size: 2rem;
  line-height: 32px;
}

.connect-text {
  font-weight: 500;
  color: #5461d4;
  margin-top: 1rem;
}

.headline-icons {
  margin-top: 0.5rem;
  list-style: none;
  display: flex;
}

.headline-icon {
  padding: 0.7rem;
}

.works-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 20px;
  margin-bottom: 10rem;
  padding-bottom: 2rem;
  width: 80vw;
}

.large-text__light {
  display: none;
}

.large-text {
  display: none;
}

.card-image {
  width: 75vw;
  margin: 14px 6px;
  margin-top: 2rem;
  padding: 1.2rem 1.2rem;
}

.card-image:hover {
  transform: scale(1.1);
}

.large-para {
  display: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
}

.small-heading {
  color: #172b4d;
  font-size: 3.2rem;
}

.large-image {
  display: none;
}

.text-normal {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 600;
}

.text-light {
  color: #4d607d;
  font-size: 1.4rem;
}

.card-body p {
  margin: 0.5rem 1rem 0 0;
}

.large-list {
  display: none;
}

.categories {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  list-style: none;
  margin-top: 1rem;
}

.categories li {
  font-size: 1.1rem;
  background: #ebebff;
  color: var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.btn {
  padding: 1.5rem 2.2rem;
  margin-top: 3rem;
  border-radius: 10px;
  border: 1px solid #396df2;
  color: #396df2;
  background-color: #fff;
  font-size: 1.7rem;
}

.btn:hover {
  background-color: var(--color-accent);
  color: var(--white);
  transition: all 500ms ease-in-out;
}

.btn:active {
  background-color: #2230d2;
  color: var(--white);
}

.btn:focus {
  outline: #014cc6;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page {
  background: var(--white);
  border-top-right-radius: 75px;
  justify-content: center;
  align-items: flex-start;
  max-width: 100rem;
  padding: 2.5rem;
}

.about-header {
  color: var(--color-headings);
  font-size: 4rem;
  margin-top: 5rem;
}

.about-page p {
  color: var(--color-text);
  line-height: 2.4rem;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.about-button {
  padding: 1.5rem 2.2rem;
  margin-top: 3rem;
  border-radius: 10px;
  border: 1px solid #396df2;
  color: #396df2;
  font-size: 1.7rem;
  background-color: #fff;
}

.about-button:hover {
  background-color: #6070ff;
  color: var(--white);
  transition: all 1000ms ease-in-out;
}

.about-button:active {
  background-color: #2230d2;
  color: var(--white);
}

.language-section {
  margin-top: 3rem;
}

.language-section li {
  list-style: none;
}

.fa-angle-down {
  padding-left: 6rem;
}

.language-subsections {
  margin-top: 4rem;
}

.language-subsections li {
  width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.lang {
  margin: 30px 0 0 0;
  padding: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 30px;
}

.languages {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.languages li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f9;
  padding: 10px;
  border-radius: 5px;
}

.languages li a {
  text-decoration: none;
  color: #000;
  margin-bottom: 2rem;
}

.lang-exp {
  margin: 0;
  display: grid;
  grid-gap: 20px;
}

.lang-exp hr {
  width: 100%;
}

.no-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.no-1 p {
  font-weight: bold;
  margin: 0;
}

.lang .lang-exp .no-1 span i {
  color: #acb7c3;
}

.contact-section {
  background: #6070ff url(../images/contactform.svg);
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 75px;
  color: var(--color-body);
}

label {
  color: black;
}

/* Modal Window */

.modal-window {
  background-color: var(--white);
  border-radius: 5px;
  width: 90vw;
  padding: 3rem;
  margin-left: 3rem;
}

.img-popup {
  display: none;
}

.modal-description {
  display: none;
}

.backend {
  display: none;
}

/* Contact-section */

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  height: 800px;
  width: 327px;
  left: 24px;
  top: 754px;
  margin: 0 auto;
}

.contact-header {
  font-size: 3.5rem;
  margin-top: 10rem;
}

.text-input {
  padding: 1.2rem;
  border-radius: 10px;
  margin-top: 1.2rem;
  width: 100%;
  border: none;
}

.text-input:hover {
  transform: translate(10px);
}

.message-input {
  padding: 5rem;
  border-radius: 10px;
  margin-top: 1.2rem;
  width: 100%;
}

textarea {
  margin-top: 1.2rem;
  width: 100%;
  border-radius: 10px;
  padding: 1.5rem;
}

.contact-btn {
  padding: 1.5rem 2.2rem;
  border-radius: 10px;
  border: 1px solid #396df2;
  color: #396df2;
  background-color: #fff;
  font-size: 1.7rem;
  padding-top: 10px;
  padding-right: 21px;
  margin: 16px auto;
}

.contact-btn:hover {
  background-color: #0f39ad;
  color: #edf2fd;
  transition: all 500ms ease-in-out;
}

.contact-btn:active {
  background-color: #2230d2;
  color: var(--white);
}

/* Animations */

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animation-rotate {
  animation: rotate 0.5s linear 1s;
}

/* Modal mobile */
.popup-overlay {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  display: none;
}

.popup {
  margin: 10px 0;
  position: fixed;
  top: -35%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  border: 1px solid #fff;
  z-index: 1000;
  transition: display 1s linear;
  background: #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 16px;
  padding-bottom: 20px;
  display: none;
}

.hide-lang {
  display: none;
}

.header-pop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 14px;
}

.popup-body {
  margin-top: -27px;
}

.description-div {
  margin-top: -26px;
}

.card-specs {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 0 14px;
}

.small-modal {
  color: var(--color-headings);
  font-size: 1.3rem;
  line-height: 2.1rem;
  margin: 0 14px;
}

.categories-list.categories-mobile {
  margin: 0 14px;
}

a.mobile-btn {
  width: 125px;
  height: 25px;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  margin: 4px;
  text-align: center;
}

.close-btn {
  margin: 0 10px;
  z-index: 1000;
  color: #67798e;
  cursor: pointer;
}

p#modal-close {
  font-size: 3.5rem;
  font-size: 6;
  color: #67798e;
}

.modal-btn {
  margin-top: 2rem;
}

/* Desktop Version */
@media screen and (min-width: 768px) {
  .headline-section {
    height: 100vh;
    background: var(--white) url(../images/background.svg);
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
  }

  .nav-menu li a {
    color: #000;
    list-style-type: none;
    font-weight: 450;
    font-size: 2.1rem;
  }

  .nav-bar .fa-bars {
    display: none;
  }

  ul.navigation-bar.nav-menu {
    width: 0;
    height: 0;
    background: none;
    display: flex;
    margin: 0.1rem 60rem;
    padding-bottom: 3rem;
    position: fixed;
  }

  .nav-bar {
    display: inline-block;
  }

  /* Cards */
  .card {
    display: none;
  }

  .card-image {
    display: none;
  }

  .large-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--white);
    border-radius: 20px;
    margin-bottom: 10rem;
    padding-bottom: 2rem;
    width: 80vw;
  }

  .large-image {
    padding: 1.5rem;
    display: block;
  }

  .large-text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
  }

  .large-text__light {
    color: #4d607d;
    font-size: 1.4rem;
    display: inline-block;
  }

  .large-para {
    margin: 0.5rem 1rem 0 0;
    display: inline-block;
  }

  .categories li {
    color: #6070ff;
  }

  .card-body h2 {
    font-size: 4rem;
  }

  .card-body p {
    font-size: 1.6rem;
  }

  .small-para {
    display: none;
  }

  .text-light {
    display: none;
  }

  .large-list {
    display: inline-block;
  }

  .small-heading {
    display: inline-block;
  }

  .text-normal {
    display: none;
  }

  /* About Section */
  .about-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    align-items: center;
    height: 644px;
    background: var(--white);
  }

  .languages {
    display: flex;
    flex-direction: row;
  }

  .languages li {
    width: 122px;
    height: 120px;
    background-color: #f7f7f9;
    margin-top: 0.8rem;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  /* Contact Section */

  .contact-section {
    height: 120vh;
    background: #6070ff url(../images/contactform.svg);
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 75px;
    color: var(--white);
    width: 100%;
    margin-top: 0;
    text-align: center;
  }

  .contact-btn {
    margin-top: 1.2rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 6rem;
    height: 800px;
    max-height: 90%;
    max-width: 100%;
  }

  .flex-item1 {
    display: flex;
    flex-direction: row-reverse;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 447px;
  }

  .text-input {
    border-radius: 0;
  }

  textarea {
    border-radius: 0;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  /* Modal Window Desktop */

  .popup-overlay {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
  }

  .popup {
    margin: 10px 0;
    position: fixed;
    top: -38%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    border: 1px solid #fff;
    z-index: 1000;
    transition: display 1s linear;
    background: #fff;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
    padding-bottom: 20px;
    display: none;
  }

  .img-popup {
    display: inline-block;
    width: 100%;
  }

  .header-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 1000;
    width: 90%;
  }

  .img-popup-div {
    width: 90%;
    height: 320px;
    margin: 0 auto;
  }

  .img-popup-div > img {
    width: 100%;
    height: 320px;
    margin-top: 20px;
  }

  .close-btn {
    margin: 0 10px;
    z-index: 1000;
    color: #67798e;
    cursor: pointer;
  }

  p#modal-close {
    font-size: 3.5rem;
    font-size: 6;
    color: #67798e;
  }

  .modal-description {
    color: var(--color-headings);
    font-size: 1.3rem;
    line-height: 2.1rem;
    display: inline-block;
    width: 100%;
    padding-right: 14px;
    margin: 10px;
  }

  .card-specs {
    display: flex;
    width: 90%;
    margin: 15px auto;
  }

  .languages-div {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    margin-bottom: 5px;
    margin-top: 0;
    justify-content: flex-start;
  }

  .description-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 15px auto;
  }

  .categories-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 8px;
  }

  .modal-btn button {
    height: 30px;
    text-align: center;
    font-size: 10px;
    margin: 5px 0;
    padding: 4px 15px;
    margin-right: 10px;
  }

  .modal-btn button > * {
    margin: 4px;
  }

  .modal-para {
    width: 70%;
  }

  .small-modal {
    display: none;
  }

  .backend {
    display: inline-block;
  }

  .modal-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  a.mobile-btn.btn {
    padding: 2rem 1.3em;
    text-align: center;
    width: 120px;
    margin: 1.5rem 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
